/* Monserrat */
@font-face {
    src: url(../fonts/Montserrat/Montserrat-Black.ttf);
    font-family: "Monserrat";
    font-weight: 900;
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-BoldItalic.ttf);
    font-family: "Monserrat";
    font-weight: 700;
    font-style: italic;
}

@font-face {
    src: url(../fonts/Monserrat/Montserrat-Regular.ttf);
    font-family: "Monserrat";
    font-weight: 400;
}

@font-face {
    src: url(../fonts/Monserrat/Montserrat-SemiBoldItalic.ttf);
    font-family: "Monserrat";
    font-weight: 600;
}
/* Monserrat */

/* Trebuchet */
@font-face {
    src: url(../fonts/Trebuchet/trebucbi.ttf);
    font-family: "Trebuchet";
    font-weight: 700;
    font-style: italic;
}

@font-face {
    src: url(../fonts/Trebuchet/trebucbd.ttf);
    font-family: "Trebuchet";
    font-weight: 700;
}
/* Trebuchet */

